[submodule "gl3w"]
	path = gl3w
	url = https://github.com/skaslev/gl3w.git
[submodule "minhook/minhook"]
	path = minhook/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "imgui/imgui"]
	path = imgui/imgui
	url = https://github.com/ocornut/imgui.git
